<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">


    <!-- Define the appenders -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />-->
            <PatternLayout pattern="%msg%n" />
        </Console>

        <Appender type="io.qameta.allure.log4j2.AllureAppender" name="AllureLogAppender">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <target>TEST_CASE</target>
        </Appender>

        <File name="FileLogger" fileName="logs/test-class.log">
            <PatternLayout pattern="%msg%n"/>
        </File>

    </Appenders>



    <!-- Define the loggers -->
    <Loggers>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="AllureLogAppender"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

<!--        <Logger name="com.example.myproject" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="AllureLogAppender"/>-->
<!--        </Logger>-->

    </Loggers>


</Configuration>